@model ArizaTakip.Entites.Concrete.Ariza
@{
    ViewData["Title"] = "ArizaGetir";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}


    <form method="post" asp-action="ArizaGuncelle" asp-controller="home">
       
        <br />
        <h2><label class="font-weight-bold text-xl-right glyphicon glyphicon-refresh pb-4">&nbsp;ARIZA GÜNCELLEME</label></h2>
        <hr />

        <b>Cihaz</b>
        <div class="= mt-3 p-0">
            @Html.DropDownListFor(x => x.CihazId, TempData["cihazDropDown"] as List<SelectListItem>, "SEÇİNİZ")
        </div>
        <br />
        <b>Arıza ID</b>
        @Html.TextBoxFor(x => x.Id, new { disabled = "disabled", @class = "form-control" })
        <br />
        <b>Arıza Tanımı</b>
        @Html.TextBoxFor(x => x.ArizaTanim, new { @class = "form-control" })
        <br />
        <b>Arıza Açıklama</b>
        @Html.TextBoxFor(x => x.ArizaAciklama, new { @class = "form-control" })
        <br />
        <b>Cihazın Durumu</b>
        <div class=" mt-3 p-0">
            @Html.DropDownListFor(x => x.Durum,

                        new List<SelectListItem> {
                        new SelectListItem { Text = "BİLİNMİYOR", Value = "BİLİNMİYOR" },
                        new SelectListItem { Text = "BEKLEMEDE", Value = "BEKLEMEDE" },
                        new SelectListItem { Text = "ÇALIŞIYOR", Value = "ÇALIŞIYOR" },
                        new SelectListItem { Text = "ARIZALI", Value = "ARIZALI" },

                         })
        </div>
        <br />
        <b>Arızanın Oluşturulduğu Tarih</b>
        <div class="mt-3 p-0">
            @Html.EditorFor(model => model.ArizaOlusturulmaTarih, new { @type = "date" })

        </div>
        <br />
        <button class="btn btn-dark">Güncelle</button>
    </form>

