@model List<Ariza>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
    var cihazlist = TempData["cihazlar"] as List<Cihaz>;
}

<br />
<h2><label class="font-weight-bold text-xl-right  glyphicon glyphicon-wrench pb-4">&nbsp;ARIZALI CİHAZLAR</label></h2>
<hr />

<table class="table table-bordered">
    <tr>
    
        <th>Cihaz Adı</th>
        <th>Arıza Tanım</th>
        <th>Arıza Açıklama</th>
        <th>Oluşturulma Tarihi</th>
        <th class="text-center">Sil</th>
        <th class="text-center">Güncelle</th>
        <th class="text-center">Cihazın Durumu</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
         
            <td> @(cihazlist.Where(s=>s.Id==x.CihazId).FirstOrDefault()?.CihazAd) </td>
            <td> @x.ArizaTanim </td>
            <td> @x.ArizaAciklama </td>
            <td> @x.ArizaOlusturulmaTarih.ToString("dd/MM/yyyy") </td>
            <td class="text-center">
                <a href="/Home/YeniSil/@x.Id"
                   class=" btn btn-danger glyphicon glyphicon-trash">
                </a>
            </td>
            <td class="text-center">
                <a href="/Home/ArizaGetir/@x.Id"
                   class=" btn btn-success glyphicon glyphicon-refresh"></a>
            </td>
            <td class="text-center"> @x.Durum </td>

        </tr>
    }

</table>

<a asp-action="YeniAriza" asp-controller="home"
   class=" btn btn-dark">Yeni Arıza Kaydı Oluştur</a>

<a class="text-center ">
    <a href="/Home/IletiIslemleri/" class=" btn btn-dark">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-right-dots-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
        </svg>&nbsp; Görüşme Başlat
    </a>
</a>